# summarize Jolma2020 metadata

In [1]:
%cd ~/desktop/RNA/raptcouple_test/

import sys 
sys.path.append('/Users/sumishunsuke/desktop/RNA/raptcouple_test/')

/Users/sumishunsuke/Desktop/RNA/raptcouple_test

In [4]:
from src.helper_jolma import load_pwms, load_metadata

metadata = load_metadata("example/Jolma2020/data/Supplemental_Tables_S1-S8.xlsx")
metadata.head(3)

,Gene Symbol,Barcode,Batch,seed,multinomial,cycle,Mono or multimer,Motif type,Experiment,Number of RBDs in the construct,Note,motif_type,seed_regex
0,BOLL,TCCCAA40NGCGC,AAG,KUGUUGUGUUKK,1,3,monomeric,Primary,Experiment_1,1,NaN,linear,[GU]UGUUGUGUU[GU][GU]
1,CARHSP1,TGCAGT40NAAG,AAG,GCCAUGAUCAUGAU,2,3,dimeric,Secondary,Experiment_1,0,NaN,linear,GCCAUGAUCAUGAU
2,CARHSP1,TGCAGT40NAAG,AAG,UUGCCUUGUCCCGAU,2,3,monomeric,Primary,Experiment_1,1,NaN,linear,UUGCCUUGUCCCGAU

In [7]:
motifs = load_pwms("example/Jolma2020/data/Supplemental_Tables_S1-S8.xlsx")
motifs["CARHSP1_TGCAGT40NAAG_AAG_UUGCCUUGUCCCGAU_2_3_monomeric_Primary_Experiment_1"]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
A,0.114736,0.098403,0.039801,0.000000,0.000000,0.001223,0.0,0.00047,0.0,0.00000,0.000000,0.000000,0.005005,0.560771,0.107303
C,0.110075,0.085035,0.001357,0.975069,0.996718,0.165104,0.0,0.00000,0.0,0.99953,0.992997,0.930911,0.009099,0.036778,0.101341
G,0.100394,0.096918,0.951606,0.000000,0.000000,0.000408,0.0,0.99953,0.0,0.00000,0.000000,0.000000,0.964513,0.279860,0.121833
U,0.674794,0.719644,0.007237,0.024931,0.003282,0.833265,1.0,0.00000,1.0,0.00047,0.007003,0.069089,0.021383,0.122592,0.669523